.video-grid
                {
                    display:grid;
                    grid-template-columns: 1fr 1fr 1fr ;
                    column-gap: 15px;
                    row-gap: 40px;
                }
                
                
                .thumbnail
                {
                    width:100%;
                    margin-bottom: 15px;
                    border-radius: 8px;
                    text-decoration: none;

                }
                .thumbnail-timing
                {
                    position:relative;
                    text-decoration: none;
                }
                .timing
                {
                    position:absolute;
                    background-color: black;
                    color: white;
                    bottom: 20px;
                    right:10px;
                    padding-left: 4px;
                    padding-right: 4px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-radius: 2px;
                    font-size: 12px;;


                }
                .video-info
                {
                    display:grid;
                    grid-template-columns: 50px 1fr;
                    cursor: pointer;
                    text-decoration: none;

                    

                }
                .logo-div{
                    vertical-align:top;
                    margin-right:15px;
                }
                .logo
                {
                    border-radius: 25px;
                    height:35px;
                    width:35px;
                    
                }
                .title
                {
                 margin-top: 0;
                    
                    font-size:15px;
                    text-decoration: none;
                    margin-bottom: 10px;
                    color: black;

                }
                .author
                {
                    text-decoration: none;
                    color:grey;
                    font-size:14px;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
                .views
                {
                    margin-top: 0;
                    color:grey;
                    font-size: 14px;
                    text-decoration: none;
                }